<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% extends 'manager/manager_index.html' %}
{% load static %}
{% block content %}
<html lang="zxx">

<head>
	<title>client revert form:: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Classic Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'manager/manger_send_client_details/css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'manager/manger_send_client_details/css/font-awesome.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
<script>
{% for msg in messages %}

 alert('{{ msg }}');
{% endfor %}
</script>
	<!--header-->
	<h1>
		<span>C</span>lient
		<span>S</span>end
		<span>F</span>orm</h1>
	<!--//header-->
	<!-- content -->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<form action="/send_client_details/" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-style-agile">
					<label>CLIENT NAME</label>
					<div class="pom-agile">
						<input  name="clientname" type="text" autocomplete="off">
<!--						<span class="fa fa-user-o" aria-hidden="true"></span>-->
					</div>
				</div>
				<div class="form-style-agile">
					<label>CLIENT_ORGANISATION NAME</label>
					<div class="pom-agile">
						<input  name="client_organisation_name" type="text" autocomplete="off">
<!--						<span class="fa fa-envelope" aria-hidden="true"></span>-->
					</div>

				<div class="form-style-agile">
					<label>CLIENT_ORGANISATION EMAIL</label>
					<div class="pom-agile">
						<input  name="organisation_email " type="email" autocomplete="off">
<!--						<span class="fa fa-envelope" aria-hidden="true"></span>-->
					</div>

				</div>
				<div class="form-style-agile">
					<label>PROJECT_STATUS</label>
					<div class="pom-agile">
						<input  name="projectstatus" type="text"  autocomplete="off">
<!--						<span class="fa fa-key" aria-hidden="true"></span>-->
					</div>
				</div>
				<div class="form-style-agile">
					<label>PROJECT_COMPLETION_DURATION</label>
					<div class="pom-agile">
						<input  name="project_completion" type="text" id="password1" autocomplete="off">
<!--						<span class="fa fa-key" aria-hidden="true"></span>-->
					</div>
					<label>PAYMENT_DETAILS</label>
<!--					<div class="pom-agile">-->
						<input name="payment_details" type="file"  >
<!--						<span class="fa fa-key" aria-hidden="true"></span>-->
				</div>
				<div class="sub-agile">

				</div>
				<div class="clear"></div>
				<input type="submit" value="SEND">
			</form>
		</div>
	</div>
	<!-- //content -->
	<!--footer-->
<!--	<div class="footer">-->
<!--		<h2>&copy; 2018 Classic Register Form. All rights reserved | Design by-->
<!--			<a href="http://w3layouts.com">W3layouts</a>-->
<!--		</h2>-->
<!--	</div>-->
	<!--//footer-->


	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
{% endblock %}
</body>

</html>