<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>

{% load static %}


<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Handler a Corporate Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'technical_team/technical_team_index/css/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Poppins:100,300,400,500,500i,600,700&display=swap" rel="stylesheet">
  <!-- Template CSS -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Handler a Corporate Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'technical_team/technical_team_index/css/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Poppins:100,300,400,500,500i,600,700&display=swap" rel="stylesheet">
  <!-- Template CSS -->
<title>Dragging register form a Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dragging register form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- custom css file -->
<link rel="stylesheet" href="{% static 'technical_team/technical_details/css/style.css' %}">
<!-- //custom css file -->

<!-- google fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- //google fonts -->

</head>

<body>
<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
<section class="w3l-top-header-content">
					</div>
				</div>
			</div>
		</div>
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html"><span class="fa fa-podcast" aria-hidden="true"></span> <label class="lohny">H</label>andler</a>
				<!-- if logo is image enable this
				<a class="navbar-brand" href="#project_report.html">
					<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
				</a> -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
<!--						<li class="nav-item active">-->
<!--							<a class="nav-link" href="index.html"></a>-->
<!--						</li>-->
							<li class="nav-item">
							<input><a  class="nav-link" href="/technical_home/" autocomplete="off" style = "color:white; font-size:20px">HOME</a></input>
							</li>
						<li class="nav-item">
							<a class="nav-link" href="/technical_team_detail/" autocomplete="off"  style="color:white;font-size:20px" >TECHNICAL TEAM DETAILS</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="/project_team_table/" autocomplete="off" style="color:white;font-size:20px">project team report</a>
						</li>

						<li class="nav-item">
						<a class="nav-link" href="/project_team_output/" style="color:white;font-size:20px">PROJECT TEAM OUTPUT</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/technical_team_logout/" autocomplete="off" style="color:white;font-size:20px">LOGOUT</a>
						</li>
					</ul>

				</div>
			</div>
		</nav>
		<!--//nav-->
	</div>

</section>
<!--//top-header-content-->

<!--w3l-banner-slider-main-->
<!--<section class="w3l-banner-slider-main">-->
<!--	<div class="bannerhny-content">-->

		<!--/banner-slider-->
		<div class="content-baner-inf">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">

					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="container">
<h1 style ="font-size:20px; color:yellow;">TECHNICAL TEAM FORM</h1>
<div class="agile-its">
	<h2>Register Here</h2>
	<div class="w3layouts">
		<div class="photos-upload-view">
			<form id="upload" action="/technical_team_detail/" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
<!--				<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />-->
<!--					<div class="agileinfo">-->
<!--					&lt;!&ndash; <input type="submit" class="choose" value="Browse File...">-->
<!--					<h3>OR</h3> &ndash;&gt;-->
<!--						<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />-->
<!--						<div id="filedrag">Drag And Drop Your Files Here</div>-->
<!--							<div id="messages">-->
<!--								<h4>Status Messages</h4>-->
<!--							</div>-->
					</div>
						<div class="agileinfo-row">
							<div class="ferry ferry-from">
								<label>TECHNICAL TEAM HEAD</label>
								<input type="text" name="technicalteam_head_name"  required="">
							</div>
							<div class="ferry ferry-from">
								<label>TECHNICAL TEAM EMAIL</label>
								<input type="email" name="technicalteam_email"  required="">
							</div>
							<div class="ferry ferry-from">
								<label>NO OF PROJECT COMPLETED</label>
								<input type="text" name="no_of_project_completed"  required="">
							</div>
							<div class="ferry ferry-from">
								<label>CURRENT PROJECT DETAILS</label>
								<input type="text" name="current_project_details" required="">
							</div>
							<div class="ferry ferry-from">
								<label>NO OF WORKERS</label>
								<input type="text" name="no_of_workers"  required="">
							</div>
<!--							<div class="w3_agileits_main_grid_left_r">-->
<!--								<div class="agileinfo_radio_button">-->
<!--									<label class="radio"><input type="radio" name="radio" checked=""><i></i>Male</label>-->
<!--								</div>-->
<!--								<div class="agileinfo_radio_button">-->
<!--									<label class="radio"><input type="radio" name="radio"><i></i>Female</label>-->
<!--								</div>-->
<!--								<div class="clear"> </div>-->
<!--							</div>-->
								<label>TOTAL NUMBER OF WORKERS</label>
							<div class="form_box">
							   <div class="select-block1">
								<select required="" name="experienced">
									<option value="NO OF EXPERICENCED">NO OF EXPERICENCED</option>
									<option value="0-5">0-5</option>
									<option value="5-20">5-20</option>
									<option value="MORE THAN 20">MORE THAN 20</option>
								</select>
							  </div>
							 </div>
							<div class="form_box">
							  <div class="select-block1 middle">
								<select required="freshers" name="freshers">
									<option value="NO OF FRESHERS">NO OF FRESHERS</option>
									<option value="0-5">0-5</option>
									<option value="5-20">5-20</option>
									<option value="MORE THAN 20">MORE THAN 20</option>

								</select>
							  </div>
							</div>
<!--							<div class="form_box1">-->
<!--							   <div class="select-block1 last">-->
<!--								<select required="">-->
<!--									<option value="">1982</option>-->
<!--									<option value="">1983</option>-->
<!--									<option value="">1984</option>-->
<!--									<option value="">1985</option>-->
<!--									<option value="">1986</option>-->
<!--									<option value="">1987</option>-->
<!--									<option value="">1988</option>-->
<!--									<option value="">1989</option>-->
<!--									<option value="">1990</option>-->
<!--									<option value="">1991</option>-->
<!--									<option value="">1992</option>-->
<!--									<option value="">1993</option>-->
<!--									<option value="">1994</option>-->
<!--									<option value="">1995</option>-->
<!--									<option value="">1996</option>-->
<!--									<option value="">1997</option>-->
<!--									<option value="">1998</option>-->
<!--									<option value="">1999</option>-->
<!--									<option value="">2000</option>-->
<!--									<option value="">2001</option>-->
<!--									<option value="">2002</option>-->
<!--									<option value="">2003</option>-->
<!--									<option value="">2004</option>-->
<!--									<option value="">2005</option>-->
<!--									<option value="">2006</option>-->
<!--									<option value="">2007</option>-->
<!--									<option value="">2008</option>-->
<!--									<option value="">2009</option>-->
<!--									<option value="">2010</option>-->
<!--									<option value="">2011</option>-->
<!--									<option value="">2012</option>-->
<!--									<option value="">2013</option>-->
<!--									<option value="">2014</option>-->
<!--									<option value="">2015</option>-->
<!--									<option value="">2016</option>-->
<!--									<option value="">2017</option>-->
<!--								</select>-->
<!--							   </div>-->
<!--							</div>-->
<!--							<div class="clear"></div>-->
<!--						</div>-->
<!--					<div class="wthree-text">  -->
<!--						<label class="anim">-->
<!--							<input type="checkbox" class="checkbox" required="">-->
<!--							<span>Send me latest updates</span> -->
						</label>
						<div class="wthreesubmitaits">
							<input type="submit" name="submit" value="Register">
						</div>  
						<div class="clear"> </div>
					</div>
			</form>
						
<!--		</div>-->
<!--		<div class="clear"></div>-->
<!--		<div class="social">-->
<!--			<a href="#" class="f">F <span> : <span> Login With Facebook </a>-->
<!--			<a href="#" class="t">T <span> : <span> Login With Twitter </a>-->
<!--			<div class="clear"> </div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="footer">-->
<!--	<p> © 2017 Dragging Register Form. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>-->
<!--</div>-->

<!--&lt;!&ndash; js files &ndash;&gt;-->
<!--<script src="{% static 'technical_team/technical_details/cjs/filedrag.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'technical_team/technical_details/cjs/jquery.min.js' %}"></script>-->
<!-- //js files -->

</body>
</html>