{% extends 'project_team/project_team_index.html' %}
{% load static %}
{% block content %}

<script>
    {% for msg in messages %}

        alert('{{ msg }}');
    {% endfor %}

</script>
<style>
table, th, td {
  border:2px solid BLACK;

  font-color:black;
}

th{
 background-color:#5f9ea0;
 color:white;

}
td{
color:white;
}

h1{color:blue}
</style>



<div style="margin-left:0px" class="slider-info text-center">
             {% csrf_token %}
            {% if datas %}
<h1 style="font-size:40px; color:WHITE; ">CLIENT PROJECT DETAILS</h1><br>
   <table style="width:80%; margin-left:150px;">
  <tr>
<!--      <th>ID</th>-->
     <th>ORGANISATION NAME</th>
    <th>ORGANISATION ADDRESS</th>
      <th>CONTACT</th>
      <th>SERVICES</th>
      <th>ENQUIRY</th>
      <th>DOCUMENT</th>
<!--      <th>APPROVE</th>-->
<!--      <th>REJECT</th>-->
  </tr>

        {% else %}
<!--        <div><h3 style="color:white">All user are approved by admin</h3></div>-->
        {% endif %}
         {% for data in datas %}
  <tr style="background-color:#00204a;color:white;text-align: center;">
<!--            <td>{{data.id}}</td>-->
            <td >{{data.organisation_name}}</td>
            <td >{{data.organisation_address}}</td>
            <td >{{data.phonenumber}}</td>
            <td> {{data.services}}</td>
			<td> {{data.p_enquiry}}</td>
            <td><a href="{{data.p_document.url}}" download>{{data.p_document}}</a></td>

<!--             <td><a href="/client_view/{{data.id}}"><input type="button" value="approval"></a></td>-->
<!--			<td><a href="/manager_reject/{{data.id}}"><input type="button" value="reject"></a></td>-->

<!--      <td><img src="{{data.p_document.url}}" alt="{{data.p_document}}" width="80" height="100"></td>-->
  </tr>
<!--<a href="/approve_merchant/{{data.id}}"><input type="button" value="approve"></a>-->
<!--    <td>{{data.password}}</td>-->
<!--    <td>{{data.document}}</td>-->
<!--    <td>{{data.image}}</td>-->
<!--    {% if data.document %}-->
<!--    <td><a href="{{data.document.url}}"><button>File</button></a></td>-->
<!--    {% else %}-->
<!--      <td>-</td>-->
<!--    {% endif %}-->
<!--&lt;!&ndash;    <td><img src="{{i.image.url}}" alt="{{i.image}}" width="80" height="100"></td>&ndash;&gt;-->
<!--    {% if data.image %}-->
<!--    <td><img src="{{data.image.url}}" alt="{{data.image}}" width="80" height="100"></td>-->
<!--    {% else %}-->
<!--      <td>-</td>-->
<!--    {% endif %}-->
<!--&lt;!&ndash;    <td><a href="/update/{{data.id}}"><input type="button" value="pending"></a></td>&ndash;&gt;-->
<!--    <td><a href="/approve/{{data.id}}"><input type="button" value="approve"></a></td>-->
<!--      </tr>-->
      {% endfor %}
</table>
<!--<p>-->

<!--    {% csrf_token %}-->
<!--    {% for data in full_data %}-->
<!--        {{data.id}}-->
<!--        {{data.username}}-->
<!--        {{data.mail}}-->
<!--        {{data.password}}-->
<!--        {{data.document}}-->
<!--        {{data.image}}-->
<!--    {% endfor %}-->

<!--</p>-->
</div>
{% endblock %}